<!DOCTYPE html>
<html lang="da">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <main>
        Logged in
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script src="js/validating.js"></script>
    <script src="js/cmsEvents.js"></script>
  </body>
</html>
