<!DOCTYPE html>
<html lang="da">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <%= message %>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
