<!DOCTYPE html>
<html lang="da">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <div id="loginContainer">
        <h1>CMS log ind</h1>
        <label for="loginUsername" class="loginLabel">Brugernavn:</label>
        <input type="text" id="loginUsername" value="admin">
        <label for="loginPassword" class="loginLabel">Adgangskode:</label>
        <input type="password" id="loginPassword" value="admin">
        <input type="button" id="loginSubmit" value="Log ind">
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
    <script src="js/validating.js"></script>
    <script src="js/loginEvents.js"></script>
  </body>
</html>
